.login-widget {

    &__container {
        height: 361px;
        width: 324px;
    }

    &__inputs {
        display: inline-block;
        margin: 0 auto 20px;
        text-align: left;
    }

    &__forgot-password {
        margin-top: 20px;
    }

    &__message {
        margin-top: 18px;
    }

    &__loading > span{
        border-top: 1.1em solid rgba($dark-grey, 0.2);
        border-right: 1.1em solid rgba($dark-grey, 0.2);
        border-bottom: 1.1em solid rgba($dark-grey, 0.2);
        border-left: 1.1em solid $dark-grey;
        margin-top: 10px;
    }
}

.main-home-page__link-buttons-container {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.main-home-page__widget {
    min-height: 391px;
}

@media screen and (min-width: 379px) {
    .login-widget__container {
        min-width: 324px;
    }
    .Widget {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (max-width: 409px) {
    .login-widget__container {
        min-width: 313px;
    }
}

@media screen and (max-width: 992px) {
    .login-widget__container {
        width: 100%;
    }
    .main-home-page__widget {
        width: 100%;
    }
}
