.main-home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    &__center {
        display: flex;
        justify-content: center;
    }

    &__message {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 992px) {
    .main-home-page {
        display: unset;
    }
}
