.login-widget {

    &__container {
        height: 361px;
        width: 324px;
    }

    &__inputs {
        display: inline-block;
        margin: 0 auto 20px;
        text-align: left;
    }

    &__forgot-password {
        margin-top: 20px;
    }

    &__message {
        margin-top: 18px;
    }
  
  @media screen and (min-width: 379px) {
      .login-widget__container {
          min-width: 324px;
      }
  }
  @media screen and (max-width: 409px) {
      .login-widget__container {
          min-width: 313px;
      }
  }}
