.admin-panel-activity {

    &__menu {
        margin: 0 auto 20px auto;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}