@import "../../../../scss/vars";

.admin-panel-stats {
    
    &__card-list {
        display: flex;
        justify-content: space-between;

        &__card {
            width: 19%;
            transition: 0.3s;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            padding: 10px;

            &:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
        }

        &__container {
            font-size: $font-size--lg;
            padding: 16px;
        }
    }

    &__department-option { // Duplicated from ticket-query-filters, please purge
        &__name {
            margin-left: 10px;
        }
    }

    &__department-selected { // Duplicated from ticket-query-filters, please purge
        display: inline-block;
        border-radius: 3px;
        margin-left: 5px;
        padding: 1px;
        font-size: 13px;
        cursor: default;

        &__icon {
            padding-right: 5px;
        }
    }
}