@import "../scss/vars";

.drop-down {
    border-radius: 4px;
    width: 150px;
    font-size: 13px;
    user-select: none;
    cursor: pointer;

    &--current {
        color: $primary-black;
        background-color: $light-grey;
        padding: 8px;
    }

    &--list-container {
        background-color: white;
    }

    &--list {
        color: $dark-grey;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &-item {
            padding: 8px;

            &:hover {
                background-color: $primary-red;
                color: white;
            }
        }
    }
}