@import "../scss/vars";

.input {
  border: 1px solid $grey;
  border-radius: 3px;
  padding: 8px;

  &:hover {
    border-color: $medium-grey;
  }

  &:focus {
    outline: none;
    border-color: $primary-blue;
  }

  &-label {
    position: relative;

    &--text {
      color: $primary-black;
      font-size: 14px;
      display: block;
      position: absolute;
      top: -26px;
      left: 2px;
    }
  }
}