.widget-transition {
    position: relative;
    display: inline-block;
    width: 324px;

    &--widget {
        display: inline-block;
        backface-visibility: hidden;
        position: absolute;
        left: 0;
    }
}