.idea
.jshintrc
client/package-lock.json
tests/Gemfile.lock
server/composer.lock
server/vendor
server/files/
!server/files/.gitkeep
!server/files/.htaccess
server/.dbdata
server/.fakemail
server/apidoc
dist/
api/
