@import "../scss/vars";

.autocomplete {
    text-align: left;
    display: inline-block;

    &__drop-down {
        .drop-down__current-item {
            cursor: text;
            background-color: $very-light-grey;
            border: 1px solid $grey;
            min-height: 38px;
            display: block;

            &:focus-within {
                outline: none;
                border-color: $primary-blue;
                background-color: $very-light-grey;
            }
        }

        .menu__list {
            max-height: 410px;
            overflow-y: auto;
            @include scrollbars();
        }
    }
  
    &__label {
        display: inline-block;
    }

    &__input {
        display: inline-block;
        border: 0;
        background: transparent;
        outline: none;
        padding-left: 5px;
        width: 10px;
        max-width: 100%;
        min-width: 10px;
    }

    .sizer {
        line-height: 1.21428571em;
        padding: .67857143em 2.1em .67857143em 1em;
        display: none;
        white-space: pre;
    }
}
