@import "../scss/vars";

.button {

    &_primary,
    &_secondary,
    &_tertiary {
        border: solid transparent;
        border-radius: 4px;
        color: white;
        height: 47px;
        text-transform: uppercase;
        transition: background-color 0.2s ease;
    }

    &_primary {
        background-color: $primary-red;

        &:focus, &:hover {
            background-color: lighten($primary-red, 5%);
            outline: none;
        }
    }

    &_secondary {
        background-color: $primary-green;
    }

    &_tertiary {
        background-color: $secondary-blue;
    }

    &_disabled,
    &_disabled:hover {
        background-color: #ec9696;
    }

    &_small {
        width: 100px;
        height: 47px;
    }

    &_medium {
        width: 239px;
    }

    &_large {
        //width: 239px;
    }

    &_auto {
        width: initial;
        height: initial;
    }

    &_clean {
        background: none;
        border: none;
        width: initial;
        height: initial;
    }

    &_link {
        background: none;
        border: none;
        color: $dark-grey;
        width: initial;
        height: initial;

        &:focus, &:hover {
            outline: none;
            text-decoration: underline;
        }
    }
}