@import "../scss/vars";

.card {
    border-radius: 4px;
    color: white;
    height: 260px;
    padding: 15px;

    &__title {
        font-variant: small-caps;
        margin: 10px 0;
        font-size: $font-size--lg;
    }

    &__description {
        font-size: $font-size--sm;
    }

    &_red {
        background-color: $primary-red;
    }

    &_blue {
        background-color: $secondary-blue;
    }

    &_green {
        background-color: $primary-green;
    }
}
