@import "../scss/vars";

.checkbox {
    color: $primary-black;
    border-radius: 5px;
    display: inline-block;

    &--box {
        display: none;
    }

    &--icon {
        color: $light-grey;
        outline: none;

        &:focus {
            color: $grey;
        }
    }

    &_checked {
        .checkbox--icon {
            color: $primary-red;
        }
    }
}