@import "../scss/vars";

.checkbox-group {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item {
        margin: 10px 0;
    }

    &_error {
        border: 1px solid $primary-red;
        padding-left: 7px;
    }
}