@import "../scss/vars";

.drop-down {
    border-radius: 4px;
    width: 150px;
    font-size: 13px;
    user-select: none;
    cursor: pointer;

    &--current-item {
        background-color: $light-grey;
        border-radius: 4px 4px 0 0;
        color: $primary-black;
        padding: 6px;
    }

    &--current-item-icon {
        margin-right: 8px;
        margin-bottom: 2px;
    }

    &--list-container {
        position: absolute;
        width: 150px;
        z-index: 5;
    }

    &_closed {

        .drop-down--list-container {
            pointer-events: none;
        }
    }
}