@import "../scss/vars";

.form-field {
    display: block;
    margin-bottom: 20px;

    &__label {
        color: $primary-black;
        font-size: 15px;
        display: block;
        padding: 3px 0;
        text-align: left;
    }

    &__info {
        position: relative;
        top: -1px;
        left: 5px;
    }

    &_errored {
        .form-field__error {
            color: $primary-red;
            font-size: $font-size--xs;
            display: block;
            position: absolute;
        }
    }

    &_checkbox {
        display: inline-block;
        margin-bottom: 0;

        .form-field__label {
            display: inline-block;

            margin-left: 10px;
            font-size: 14px;
            user-select: none;
        }
    }
}
