@import "../scss/vars";

.info-tooltip {
    display: inline-block;

    &__text {

        &-title {
            color: $secondary-blue;
            font-size: $font-size--md;
        }
    }

    &__icon {
        color: $secondary-blue;
        font-size: $font-size--sm;
    }

    &_warning {

        .info-tooltip__icon {
            color: $primary-red;
        }

        .info-tooltip__text {
            &-title {
                color: $primary-red;
            }
        }
    }
}
