@import "../scss/vars";

.info-tooltip {
    &__text {
        &__title {
            color: $secondary-blue;
            font-size: $font-size--md;
        }
    }

    &__icon {
        color: $secondary-blue;
    }

    &_warning {
        .info-tooltip__icon {
            color: $primary-red;
        }

        .info-tooltip__text {
            &__title {
                color: $primary-red;
            }
        }
    }
}
