@import "../scss/vars";

.input {
    display: block;

    &__text {
        border: 1px solid $grey;
        border-radius: 3px;
        padding: 8px;
        width: 100%;

        &:hover {
            border-color: $medium-grey;
        }

        &:focus {
            outline: none;
            border-color: $primary-blue;
        }
    }

    &__label {
        color: $primary-black;
        font-size: 15px;
        display: block;
        padding: 3px 0;
        text-align: left;
    }

    &_primary {
        width: 200px;
    }

    &_secondary {
        width: 250px;
    }

    &_with-icon {
        position: relative;

        .input__icon {
            position: absolute;
            margin: 1px;
            padding: 8px 12px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
            background-color: $light-grey;
        }

        .input__text {
            padding-left: 40px;
        }
    }

    &_with-error {
        .input__error {
            color: $primary-red;
            font-size: $font-size--sm;
            display: block;
            position: absolute;
        }
        .input__text {
            border: 1px solid $primary-red;
        }
    }

}