@import "../scss/vars";

.menu {

    &__list {
        background-color: white;
        color: $dark-grey;
        margin: 0;
        padding: 0;
        list-style-type: none;
        cursor: pointer;
    }

    &__list-item {
        padding: 8px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &_selected,
        &:hover {
            background-color: $primary-red;
            color: white;
        }
    }

    &__icon {
        margin-right: 8px;
        margin-bottom: 2px;
    }

    &_secondary {
        .menu__list-item_selected,
        .menu__list-item:hover {
            background-color: $secondary-blue;
        }

        .menu__header {
            padding: 8px;
            background-color: $primary-blue;
            color: white;
            font-size: 16px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
    }

    &_navigation {
        text-align: center;
        background-color: transparent;

        .menu__list {
            background-color: transparent;
            display: inline-block;
        }

        .menu__list-item {
            background-color: white;
            cursor: pointer;
            display: inline-block;
            padding: 8px;

            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        .menu__list-item_selected {
            background-color: $grey;
            color: $primary-blue;
        }

        .menu__list-item:hover {
            color: $primary-blue;
        }
    }
}