@import "../scss/vars";

.menu {
    background-color: white;
    color: $dark-grey;
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: pointer;

    &__list-item {
        padding: 8px;

        &_selected,
        &:hover {
            background-color: $primary-red;
            color: white;
        }
    }

    &__icon {
        margin-right: 8px;
        margin-bottom: 2px;
    }

    &_secondary {
        .menu__list-item_selected,
        .menu__list-item:hover {
            background-color: $secondary-blue;
        }
    }
}