.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px 0;
    overflow: auto;
    z-index: 1000;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin: auto;
        background-color: white;
        border-radius: 4px;
        padding: 50px;
        box-shadow: 0 0 10px white;
    }

    &_no-padding {

        .modal__content {
            padding: 0;
        }
    }

    &__close-icon {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;

        &__white-color {
            color: white;
        }
    }
}
