@import '../scss/vars';

.tag-selector{
  margin-bottom: 30px;
  text-align: left;

  &__drop-down {
    .drop-down__current-item {
      cursor: text;
      background-color: white;
      border: 1px solid $grey;
      min-height: 38px;

      &:focus {
        outline: none;
        border-color: $primary-blue;
      }
    }
  }

  &__tag-options {
    font-size: 13px;
    color: $dark-grey;
  }

  &__tag-option {
    color: $primary-black;
    display: flex;
    align-items: center;

    &-square {
      display: inline-block;
      height: 15px;
      width: 15px;
      border-radius: 4px;
    }

    &-name {
      margin-left: 10px;
    }
  }
}