@import '../scss/vars';

.tag-selector{
  margin-bottom: 30px;
  text-align: left;

  &__drop-down {
    .drop-down__current-item {
      cursor: text;
      background-color: white;
      border: 1px solid $grey;

      &:focus {
        outline: none;
        border-color: $primary-blue;
      }
    }
  }

  &__selected-tags {
    border-radius: 3px;
    background-color: white;
    padding: 3px 1px;
  }

  &__selected-tag {
    color: white;
    display: inline-block;
    border-radius: 3px;
    margin-left: 5px;
    padding: 3px;
    font-size: 13px;
  }

  &__selected-tag {
    cursor: default;

    &-remove {
      cursor: pointer;
      margin-left: 10px;

      &:hover {
        color: $light-grey;
      }
    }
  }

  &__tag-options {
    font-size: 13px;
    color: $dark-grey;
  }

  &__tag-option {
    color: $primary-black;
    display: flex;
    align-items: center;

    &-square {
      display: inline-block;
      height: 15px;
      width: 15px;
      border-radius: 4px;
    }

    &-name {
      margin-left: 10px;
    }
  }
}