@import "../scss/vars";

.text-editor {

    .text-editor__editor {
        border: 1px solid $grey;
        border-radius: 3px;

        .DraftEditor-root {
            height: 200px;
            padding-left: 10px;
        }

        .public-DraftEditor-content {
            height: 185px;
        }
    }

    &_focused {
        .text-editor__editor {
            border-color: $primary-blue;
        }
    }

    &_errored {
        .text-editor__editor {
            border: 1px solid $primary-red;
        }
    }
}