.widget-transition {
    position: relative;
    display: inline-block;

    &--widget {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translate3d(0,0,0);
        visibility: visible;
        backface-visibility: hidden;
        display: inline-block;
        position: absolute;
        left: 0;
    }
}
