.login-widget {

    &--container {
        margin: 0 auto;
        height: 327px;
    }

    &--input {
        margin: 10px 0;
    }

    &--inputs {
        display: inline-block;
        margin: 0 auto 20px;
        text-align: left;
    }

    &--forgot-password {
        margin-top: 20px;
    }
}