.login-widget {

  &--container {
    margin: 35px auto 0;
    height: 327px;
    width: 324px;
  }

  &--inputs {
  }

  &--input {
    margin: 10px 0;
  }

  &--inputs {
    margin-bottom: 20px;
  }

  &--forgot-password {
    margin-top: 20px;
  }
}