@import "../../scss/vars";

.install-step-4 {
    &__container {
        display: inline-flex;
        justify-content: space-between;
        width: 70%;
    }


    &__previous {
        margin-right: 20px;
    }

    &__next {
    }
}