@import "../../../../scss/vars";

.dashboard-ticket-list {

    &__number {
        text-align: left;
    }

    &__title {
        text-align: left;
    }

    &__department {
        text-align: right;
    }

    &__date {
        text-align: right;
    }

    &__title-link:hover,
    &__title-link:focus {
        outline: none;
        text-decoration: underline;
    }
}