@import "../scss/vars";

.articles-list {

    &__add {
        position: relative;
    }

    &__add-icon {
        position: absolute;
        left: 10px;
        margin-top: -4px;
    }

    &__topic-separator {
        background-color: $grey;
        display: block;
        height: 1px;
        margin: 30px 0;
        width: 100%;
    }
}