@import "../scss/vars";

.articles-list {
    &__add {
        position: relative;
    }

    &__loading {
        min-width: 300px;
        min-height: 300px;
    }

    &__add-topic-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}
