@import '../scss/vars';

.stats {

    &__dropdown {
        margin-left: auto;
        margin-bottom: 20px;
    }

    &__toggle-list {
        margin-bottom: 20px;
        user-select: none;

        &-item {

            &-value {
                font-size: $font-size--lg;
                line-height: 80px;
            }

            &-name {
                font-size: $font-size--md;
                line-height: 20px;
            }
        }

        &_CREATE_TICKET.toggle-list__selected {
            box-shadow: inset 0 -5px 0px 0px rgba(20, 150, 20, 0.6);
        }

        &_CLOSE.toggle-list__selected {
            box-shadow: inset 0 -5px 0px 0px rgba(150, 20, 20, 0.6);
        }

        &_SIGNUP.toggle-list__selected {
            box-shadow: inset 0 -5px 0px 0px rgba(20, 20, 150, 0.6);
        }

        &_COMMENT.toggle-list__selected {
            box-shadow: inset 0 -5px 0px 0px rgba(20, 200, 200, 0.6);
        }

        &_ASSIGN.toggle-list__selected {
            box-shadow: inset 0 -5px 0px 0px rgba(20, 150, 20, 0.6);
        }

    }

    &_staff {
        .stats__dropdown {
            margin-left: auto;
            margin-bottom: 20px;
            float: left;
        }

        .stats__toggle-list {
            margin-bottom: 20px;
            float: right;

            &-item {

                &-value {
                    font-size: $font-size--md;
                    line-height: 40px;
                }

                &-name {
                    font-size: $font-size--sm;
                    line-height: 20px;
                }
            }
        }
    }

}