@import "../scss/vars";

.ticket-viewer {

    &__header {
        background-color: $primary-blue;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        color: white;
        font-size: 16px;
        padding: 6px 0;
    }

    &__number {
        color: white;
        margin-right: 10px;
        font-size: 14px;
    }

    &__title {
        display: inline-block;
    }

    &__flag {
        margin-left: 10px;
    }

    &__info-row-header {
        background-color: $light-grey;
        font-weight: bold;
    }

    &__info-row-values {
        background-color: $light-grey;
        color: $secondary-blue;
        padding-bottom: 10px;
    }

    &__editable-dropdown {
        margin: auto;

        .drop-down__current-item {
            background-color: $very-light-grey;
        }
    }

    &__content {
        margin-top: 10px;
    }

    &__comments {
        position: relative;
    }

    &__response {
        margin-top: 20px;
        position: relative;

        &-title {
            background-color: $primary-blue;
            text-align: left;
            padding: 5px;
            color: white;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        &-field {
            background-color: $very-light-grey;
            padding: 20px;
            text-align: left;
        }

        &-actions {
            background-color: $very-light-grey;
            display: flex;
            justify-content: space-between;
        }

        &-custom {
            padding: 20px 0 0 20px;
            text-align: left;
        }

        &-private {
            padding: 20px 20px 0 0;

            &-info {
                margin-left: 5px;
            }
        }

        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
background-color:blue;
            &-secondary {
                background-color:blue;
                display: flex;
                justify-content: space-between;
            }
        }

    }
}
