@import "../scss/vars";

.toggle-button {
    background-color: $light-grey;
    width: 80px;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
    user-select: none;
    cursor: pointer;

    &_disabled {
        cursor: default;
        background-color: transparent;
        color: $dark-grey;
    }
}