@import "../../../../scss/vars";

.admin-panel-advanced-settings {
    &__mandatory-login {

    }

    &__registration {

    }

    &__text {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    &__button {
        margin-bottom: 30px;
        width: 150px;
    }

    &__api-keys {

        &-title {
            font-size: $font-size--bg;
            margin-bottom: 20px;
            text-align: left;
        }

        &-info {
            text-align: left;
        }

        &-subtitle {
            font-size: $font-size--md;
            margin-bottom: 5px;
        }

        &-data {
            background-color: $light-grey;
            border-radius: 4px;
            width: 300px;
            margin: 10px 0;
            text-align: center;
            padding: 5px 0;
        }

        &-modal {
            min-width: 500px;
        }

        &-none {
            color: $dark-grey;
            font-size: $font-size--md;
        }
    }
}
