.admin-panel-custom-tags {

    &__content {
        text-align: left;
    }

    &__add-button-icon{
        margin-left: 5px;
    }

    &__tag-list{
        margin-top: 15px;
    }

    &__tag-container{
        margin-top:5px ;
    }
}
