.admin-panel-email-templates {

    &__text-area {
        width: 100%;
        height: 45px;
    }

    &__save-button {
        display: inline-block;
        float: left;
    }

    &__optional-buttons {
        display: inline-block;
        float: right;
    }

    &__discard-button {
        display: inline-block;
    }

    &__recover-button {
        display: inline-block;
        margin-left: 10px;
    }
}
