@import "../../scss/vars";


.main-layout {
  margin: 0 auto;
  background-color: $grey;
  max-width: 1100px;
  border-radius: 4px;

  &--content {
    text-align: center;
    min-height: 400px;
    width: 1100px;
  }
}
