@import "../scss/vars";

.application {
    padding: $half-space;

    &_full-width {
        padding: 0;

        .main-layout {
            width: 100%;
            max-width: none;

            &-header {
                border-radius: 0;

                &__login-links {

                }

                &__languages {

                }
            }

            &--content {
                position: relative;
            }

            &-footer {
                height: 40px;

                &--powered {
                    padding-top: 9px;
                }
            }
        }

        .main-home-page {
            margin: 0 auto;

            .widget {
                background-color: $very-light-grey;
            }
        }

        .ticket-list__number {
            text-align: center;
        }

        .signup-widget {
            background-color: $very-light-grey;
        }
        
        .dashboard {

            .widget {
                background-color: transparent;
            }

            &__menu {
                margin-left: -5px;
                margin-top: -20px;
                padding: 0;
                background-color: $very-light-grey;
                height: 100%;
                position: absolute;

                .menu__list {
                    background-color: transparent;
                    height: 100%;
                    position: relative;
                }

                .menu__header {
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                    background-color: $secondary-blue;
                    text-align: right;
                }
            }

            &__content {
                margin-top: -10px;
            }

            @media screen and (max-width: 992px) {

                .dashboard__menu {
                    position: static;
                }
            }
        }

        &__widget {
            background-color: $very-light-grey;
        }

        @media screen and (max-width: 467px) {

            .input {
                width: 250px;
            }
        }

        &.application_mandatory-login {

            .main-layout {
                background-color: white;
            }

            .main-home-page {

                &__login-widget {
                    position: absolute;
                }

                &__portal-wrapper {
                    margin-left: 360px;
                    padding-left: 15px;
                    padding-right: 15px;
                }

                @media screen and (max-width: 992px) {
                    .main-home-page {

                        &__login-widget,
                        &__portal-wrapper {
                            float: none;
                            width: initial;
                            margin-left: 0;
                            position: static;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: 379px) {

            .main-home-page {

                .widget {
                    min-width: 313px !important;
                    width: initial !important;
                }
            }
        }
    }

    &_user-system {
        @media screen and (max-width: 379px) {

            .main-home-page {

                .widget {
                    min-width: initial;
                    width: 283px;
                }
            }
        }
    }
}