.create-ticket-form {

    &__hide {
        display: none;
    }

    &__file {
        text-align: left;
    }

    &__message {
        margin-top: 20px;
    }

    &__captcha {
        margin: 0 auto 20px;
        height: 78px;
        width: 304px;
    }
}