.button {

  &:focus {
    outline: none;
  }

  &-primary {
    background-color: $primary-red;
    border: solid transparent;
    border-radius: 4px;
    color: white;
    height: 47px;
    text-transform: uppercase;
    width: 239px;
  }
}