@import '../../../../scss/vars';

.admin-panel-view-user {

    &__info {
        text-align: left;

        &-item {
            display: inline-block;
            margin-right: 20px;
            min-width: 200px;
        }

        &-box {
            background-color: $grey;
            color: $primary-black;
            font-size: $font-size--sm;
            padding: 5px 15px;
            text-align: center;
        }
    }

    &__action-buttons {
        margin-top: 20px;
    }

    &__action-button {
        margin-right: 20px;
    }

    &__tickets-title {
        font-size: $font-size--md;
        margin-bottom: 20px;
        text-align: left;
    }

    &__unverified {
        margin-left: 15px;
    }
}
