@import '../../../../scss/vars';

.admin-panel-list-users {

    &__search-box {
        margin: 20px;
    }

    &__table {
        text-align: left;
    }

    &__name-link {
        color: $secondary-blue;
    }

    &__tickets-number {
        background-color: white;
        border-radius: 10px;
        width: 70px;
        display: inline-block;
        text-align: center;
    }

    &__success-message {
        margin-bottom: 20px;
    }

    &__add-user-form {
        max-width: 500px;
    }

    &__invite-user-form {
        min-width: 700px;
    }
}
