.admin-panel-custom-responses {
    &__loading {
        height: 300px;
    }

    &__item-flag {
        float: right;
    }

    &__actions {
        text-align: left;
    }

    &__save-button {
        display: inline-block;
        margin-right: 30px;
    }

    &__optional-buttons {
        display: inline;
    }

    &__discard-button {
        display: inline-block;
    }

    &__delete-button {
        display: inline-block;
        float: right;
    }
}