.recover-password {
    &__inputs {
        display: inline-block;
        margin: 0 auto 20px;
        text-align: left;
    }

    &__input {
        margin: 10px 0 0 0;
    }

    &__submit-button {
        margin-bottom: 40px;
    }

    &__text_valid {
        color: green;
    }

    &__text_invalid {
        color: red;
    }
}