.recover-password {
    &__inputs {
        display: inline-block;
        margin: 0 auto 10px;
        text-align: left;
    }

    &__submit-button {
        margin-bottom: 40px;
    }

    &__text_valid {
        color: green;
    }

    &__text_invalid {
        color: red;
    }
}