@import "../../scss/vars";


.main-layout {
    margin: 0 auto;
    background-color: $grey;
    // max-width: 1100px;
    border-radius: 4px;
    transition: max-height 0.15s ease-out;

    &--content {
        min-height: 400px;
        padding: 20px;
    }
}
