@import "../../scss/vars";

.main-layout-header {
    background-color: $primary-blue;
    border-radius: 4px 4px 0 0;
    width: 100%;
    position: relative;

    &__user-name {
        color: $very-light-grey;
    }

    &__login-links {
        border-top-left-radius: 4px;
        color: white;
        display: inline-block;
        height: 32px;
        padding: 5px 20px 0 10px;
    }

    &__languages {
        display: inline-block;
        float: right;
        position: relative;
        top: 5px;
        margin: 0 6px;
    }

    @media screen and (max-width: 500px) {
        .main-layout-header__languages {
            float: none;
        }
    }
}