@import "../../scss/vars";

.main-layout-header {
    background-color: $primary-blue;
    border-radius: 4px 4px 0 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 40px;
    &__user-name {
        color: $primary-red;
    }

    &__login-links {
        border-top-left-radius: 4px;
        color: white;
        display: inline-block;
        min-height: 32px;
        width: 100%;
        padding: 5px 170px 5px 10px;

        &__button {
            margin: 5px;
        }

    }

    &__languages {
        right: 5px;
        position: absolute;
        bottom: 0;
        margin: 0 6px;
    }

}
