@import "../../scss/vars";

.main-layout-header {
    background-color: $primary-blue;
    border-radius: 4px 4px 0 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__user-name {
        color: $primary-red;
    }

    &__login-links {
        border-top-left-radius: 4px;
        color: white;
        display: inline-block;
        height: 32px;
        padding: 5px 20px 0 10px;
    }

    &__languages {
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 6px;
    }

    @media screen and (max-width: 500px) {
        .main-layout-header__languages {
            float: none;
        }
    }

    @media (max-width: 363px) {
        .main-layout-header__login-links{
           padding: 8px 0 0 0;
        }
    }

    @media (max-width: 350px) {
        .main-layout-header__languages {
            margin: 0 3px;
            left: unset;
        }
    }
}