@import "../../../../scss/vars";

.admin-panel-staff-members {

    &__wrapper {
        height: 60px;
    }

    &__dropdown {
        float: left;
    }

    &__button {
        float: right;
        margin-top: -5px;
    }

    &__link {
        color: $primary-black;

        &:hover {
            color: $primary-black;
            text-decoration: none;
        }
    }
}