@import "../../../../scss/vars";

.admin-panel-departments {

    &__list {
        position: relative;
    }

    &__update-name-button {
        float: left;
        min-width: 156px;
    }

    &__name {
        display:inline-block;margin-right: 101px;
    }
    &__private-option {
        display:inline-block;
        margin-left: 10px;
    }
    &__default-departments-container {
        &__form {
            text-align: left;
            &__fields {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                padding-bottom: 10px;

                &__lock-option {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &__info-tooltip {
                        padding-left: 5px;
                    }
                }    
            }
            &__button {
                min-width: 156px;
            }
        }
    }

    &__optional-buttons {
        float: right;
    }

    &__discard-button,
    &__delete-button {
        display: inline-block;
        margin-left: 10px;
    }

    &__warning {
        position: absolute;
        right: 10px;
    }

    &__transfer-tickets {
        margin-top: 40px;
    }

    &__transfer-tickets-title {
        margin-right: 20px;
        color: $primary-black;
    }

    &__transfer-tickets-drop-down {
        display: inline-block;
    }
    &__private-icon {
        margin-left: 5px;
    }
    &__default-icon {
        color:  lightgrey;
        font-style: italic;
        text-transform: lowercase;
        margin-left: 3px;
    }
        &__info-tooltip {
        margin-left: 2px;
    }
}
