@import "../../../../scss/vars";

.admin-panel-staff-members {

    &__wrapper {
        height: 60px;
    }

    &__dropdown {
        float: left;
    }

    &__button {
        float: right;
        margin-top: -5px;
    }

    &__link {
        color: $primary-black;

        &:hover {
            color: $primary-black;
            text-decoration: none;
        }
    }
    &__private {
        margin-left: 5px;
    }

    &__loading {
        min-width: 300px;
        min-height: 300px;
    }

    @media screen and (max-width: 415px) {
        .admin-panel-staff-members {
            &__drowpdown {
                float: unset;
            }

            &__button {
                float: unset;
                margin: 15px;
            }

            &__wrapper {
                height: unset;
            }
        }
    }
}
