@import "../../../../scss/vars";

.ticket-action {
    margin-top: 20px;
    text-align: left;
    position: relative;

    &__connector {
        position: absolute;
        background-color: $light-grey;
        width: 3px;
        height: 100%;
        top: 38px;
        left: 33px;
        z-index: 0;
    }

    &__icon {
        vertical-align: top;
        background-color: $secondary-blue;
        color: white;
        border-radius: 5px;
        width: 42px;
        height: 42px;
        padding-left: 8px;
        padding-top: 4px;
    }

    &__comment {
        position: relative;

        &-pointer {
            right: 100%;
            border: solid transparent;
            position: absolute;
            border-right-color: $light-grey;
            border-width: 13px;
            margin-top: 8px;
        }

        &-author {
            text-align: left;
            float: left;
            position: relative;
            padding: 12px;
            color: $primary-black;

            &-type {
                font-size: 10px;
                padding-left: 10px;
                color: $secondary-blue;
                font-variant: small-caps;
            }
        }

        &-date {
            text-align: right;
            border: 2px solid $light-grey;
            border-bottom: none;
            padding: 12px;
            background-color: $light-grey;

        }

        &-content {
            background-color: white;
            border: 2px solid $very-light-grey;
            border-top: none;
            padding: 20px 10px;
            text-align: left;
        }
    }

    &_staff {
        .ticket-action__icon {
            background-color: $primary-blue;
        }

        .ticket-action__comment-author-type {
            color: $primary-blue;
        }
    }
}