.admin-panel-view-article {

    &__edit-buttons {
        text-align: left;
        margin-bottom: 20px;
    }

    &__edit-button {
        margin-right: 20px;
    }

    &__last-edited {
        font-style: italic;
        text-align: right;
        margin-top: 20px;
    }

    &__buttons {
        text-align: left;
        margin-bottom: 20px;
    }

    &__button {
        margin-right: 20px;
    }
}
