.main-signup-page {
    height: 629px;

    .signup-widget {
        padding: 30px;
        text-align: center;

        &__inputs {
            display: inline-block;
            margin: 0 auto;
        }

        &__captcha {
            margin: 20px 0;
            height: 78px;
            width: 304px;
        }
    }
}