.signup-widget {
    padding: 30px;
    text-align: center;

    @media screen and (min-width: 993px){
        float: none;
    }

    &__form {
        margin-bottom: 20px;
    }

    &__inputs {
        display: inline-block;
        margin: 0 auto;
    }

    &__captcha {
        margin: 10px auto 20px;
        height: 78px;
        width: 304px;
    }
}
