@import "vars";

* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    background-color: $light-grey;
}

.separator {
    background-color: $grey;
    display: block;
    margin: 30px 0;
    height: 1px;
    width: 100%;
}